pettingzoo==1.24.3
packaging==21.3
tianshou==1.0.0
supersuit
pygame~=2.5.2
setuptools~=68.2.0
gymnasium~=0.28.1
jax~=0.4.25
chex~=0.1.86
matplotlib~=3.8.3
numpy~=1.24.4
torch~=2.2.1
gym~=0.26.2
pynput~=1.7.6
launchpad~=2.0.1